<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h1>Calculadora de converção de Dollar para Real</h1>

  <ion-input label="Digite a quantidade em dollar" [(ngModel)]="n1" labelPlacement="floating"></ion-input>

  <ion-button expand="block" (click)="somar()">Calcular</ion-button>
  <ion-label>{{res}}</ion-label>

  <h1>Calculadora de nota escolar</h1>

  <ion-input label="Digite o valor da AC" [(ngModel)]="ac" labelPlacement="floating"></ion-input>
  <ion-input label="Digite o valor da AGH" [(ngModel)]="agh" labelPlacement="floating"></ion-input>
  <ion-input label="Digite o valor da AT" [(ngModel)]="at" labelPlacement="floating"></ion-input>

  <ion-button expand="block" (click)="calcNota()">Calcular</ion-button>
  <ion-label>{{nota}}</ion-label>

</ion-content>
